/*

Add styles or override variables from the theme here.

*/

$primary: #43a047;
$secondary: #FF0000;
$link-color: #00A000;

@import "style.scss";
@import "home.scss";
//@import "footer.scss";
//@import "navbar.scss";
//@import "sidebar.scss";
//@import "support.scss";
//@import "search.scss";

//@import "syntax.scss";
